<div class="main">
    <div class="picture-thanks">
        <img src="/pizza.jpg" id="ananas">
    </div>
    <h2>Brave souls who signed our petition to outlaw putting pineapple on pizza</h2>

    <div class="signed-names">
        {{#each signedInfo}}

            <p><a href="http://{{url}}">
                {{first}} {{last}}</a>
                ({{age}},

                {{#if ../cityPage}}
                   <a href="/petition/signers/{{city}}">{{city}}</a>)
                {{else}}
                    {{city}})</p>
                {{/if}}

        {{/each}}
    </div>


</div>
